@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 105vmax;
  background-position: top right;
}

.custom-nav .navbar-brand {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.62);
}
.custom-nav .navbar-brand span {
  color: #30B47A;
  font-size: 2rem;
  font-weight: 800;
}
.custom-nav .navbar-brand span:nth-child(2) {
  font-weight: 600;
  color: #D15036;
  margin-left: -0.3rem;
}

.navbar-nav {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
}
.navbar-nav a {
  color: #2F515E;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s ease;
  margin-left: 5rem;
}
.navbar-nav a:hover {
  color: #D15036;
}
.navbar-nav div {
  color: white;
  font-weight: 400;
  background-color: #D15036;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-left: 2rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
}
.navbar-nav div:hover {
  color: #D15036;
  background-color: white;
  border: 1px solid #D15036;
}

.navbar-toggler {
  background-color: #D15036;
  border-color: 1px solid #D15036;
  transition: 0.5s ease;
}
.navbar-toggler:hover {
  background-color: white;
  border-color: 1px solid #D15036;
}

.show {
  background-color: #4B53E4;
  border-radius: 5px;
  transition: 1s ease;
  line-height: 2.3rem;
}
.show a {
  color: white;
  font-weight: 500;
  width: 120%;
  position: inline-block;
  margin-left: 1rem;
}
.show .sign-up-button {
  width: 100%;
  margin-left: 0;
}

.main-text-title {
  font-size: 4rem;
  margin-top: 5rem;
  color: white;
  font-weight: 900;
  line-height: 0.8;
  padding-bottom: 1.3rem;
}
.main-text-title span:nth-child(2) {
  font-weight: 400;
}

.main-text {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
}

.main-button {
  background-color: #D15036;
  color: white;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  border: 1px solid #D15036;
  transition: 0.5s ease;
  text-shadow: none;
}
.main-button:hover {
  background-color: white;
  color: #D15036;
  border: 1px solid #D15036;
  text-shadow: none;
}

@media screen and (max-width: 992px) {
  .main-text-content {
    margin-top: 0rem;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 0px 8px black;
  }
  .main-text-description {
    text-align: center;
    margin-bottom: 2rem;
    /* Tambahkan margin bawah untuk jarak */
  }
  .main-button {
    display: block;
    margin-top: 1rem auto;
    /* Mengatur margin untuk pemusatkan */
  }
  .main-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ubah warna dan opasitas sesuai kebutuhan */
    z-index: -1;
    transition: 0.5s ease;
  }
  /* Sesuaikan warna teks untuk dibaca di atas overlay */
  .main-text-content,
  .main-text-description,
  .main-button {
    color: white;
    /* Sesuaikan warna teks agar terbaca dengan baik di atas overlay */
  }
  .footer svg {
    display: none;
  }
}
.footer svg {
  position: absolute;
  margin-top: 12rem;
  width: 120%;
  right: 0px;
}

.footer span {
  position: absolute;
  margin-top: 30rem;
  margin-left: 70%;
  color: white;
}/*# sourceMappingURL=style.css.map */